<div>
    <p class="input-group">
        <!-- https://github.com/angular-ui/bootstrap/issues/2219 -->
        <fieldset ng-disabled="{{ dc.disabled }}">
            <input
                type="text"
                class="form-control"
                uib-datepicker-popup="{{ dc.getDateFormat() }}"
                ng-model="dc.ngModel"
                is-open="dc.opened"
                datepicker-options="dc.options"
                close-text="Close"
             />
        </fieldset>
        <span class="input-group-btn" ng-hide="{{ dc.disabled }}">
          <button type="button" class="btn btn-default" ng-click="dc.open()"><i class="fa fa-calendar"></i></button>
        </span>
    </p>
</div>
