<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$close()">&times;</button>
        <h4> {{ 'roles_management'|trans:{}:'platform' }} </h4>
    </div>
    <div class="modal-body">
        <div class="well">
            {{ 'roles_facet_form_explanation'|trans({}, 'platform') }}
        </div>
        <div>
            <form class="form-horizontal" action="#">
                <input type="submit" class="btn btn-primary" aria-hidden="true" value="{{ frc.submit|trans:{}:'platform' }}" ng-click="frc.onSubmit()"> </input>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"> {{ 'cancel'|trans:{}:'platform '}} </button>
            </form>
        </div>
    </div>
</div>
